/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  box-sizing: border-box;
}

body {
  font-family: Futura;
  width: 950px;
  margin: 0 auto;
}

.flash {
  position: absolute;
  top: 128px;
  left: 542px;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.top-bar {
  height: 56px;
}

.title {
  width: 80%;
  height: 100%;
  float: left;
  background-color: rgba(66, 137, 244, 0.9);
  padding: 13px;
}

.title h1 {
  font-size: 32px;
}

.userinfo {
  float: left;
}

.signedin {
  padding: 6px 4px;
  font-size: 10px;
}

.userinfo a {
  color: rgb(66, 137, 244);
  display: block;
  padding: 4px;
  margin-left: 10px;
}

nav {
  clear: both;
  height: 30px;
}

nav ul {
  height: 100%;
}

nav li {
  height: 100%;
  padding-top: 6px;
  float: left;
  text-align: center;
}

.main-navs li {
  width: 33.333333%;
  background-color: #a3c0fb;
  color: black;
  font-size: 18px;
}

.year-navs li {
  width: 25%;
  background-color: #a3a3a3;
  color: white;
}

main {
  clear: both;
}

main h1 {
  font-size: 22px;
  padding: 8px;
  margin-bottom: 20px;
  border-bottom: 3px solid #a3a3a3;
}

img {
  width: 100%;
}

.index-pic-wrapper, .show-pic {
  border: 2px solid #a3a3a3;
  border-radius: 5px;
}

.index-pic-wrapper {
  width: 32%;
  height: 470px;
  float: left;
  margin-bottom: 15px;
}

.index-pic-wrapper:nth-child(3n+2) {
  margin: 0 15px;
}

.index-pic {
  display: inline-block;
  padding: 4px 12px;
}

.index-pic-title {
  font-size: 16px;
  padding: 4px;
}

.index-pic-artist {
  font-size: 12px;
  font-style: italic;
  padding: 2px;
}

.show-pic {
  padding: 12px;
}

.show-pic-artist {
  font-size: 14px;
  font-style: italic;
  padding: 10px 0 20px 6px;
}
