/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  box-sizing: border-box;
}

body {
  font-family: Futura;
  width: 1050px;
  margin: 0 auto;
}

header a {
  text-decoration: none;
}

.title {
  width: 80%;
  float: left;
  background-color: rgba(66, 137, 244, 0.9);
  padding-left: 30px;
}

.userinfo {
  float: left;
}

.userinfo .signedout a {
  color: rgb(66, 137, 244);
  display: block;
  padding: 4px;
  margin-left: 10px;
}

nav {
  clear: both;
  height: 30px;
}

nav li {
  list-style: none;
  width: 50%;
  float: left;
  background-color: #a3c0fb;
  text-align: center;
  color: black;
}
